.btn {
  display: inline-block;
  border: none;
  padding: 6px 12px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 15px;
  margin-top: 10px;
}

/*  font-size: 3rem; 
    margin: 10px auto;
    background-color: black;
*/

.container {
  /* max-width: 1200px; */
  width: 98%;
  margin: 0 auto;
  position: relative;
}

/* .blur {
  background: linear-gradient(rgb(182, 182, 183), rgba(74, 74, 74, 0.644));
  opacity: 0.8;
  width: 100%;
  height: 90vh;
  position: absolute;
  z-index: -1;
  top: 0;
} */
@media only screen and (max-width: 900px) {
  .nav-data {
    width: 0;
    opacity: 0;
    display: none;
  }

  .nav-buttons {
    display: none;
  }
  .nav-icon {
    z-index: 9999;
    display: block;
    color: white;
    font-size: 30px;
    font-weight: 800;
  }
  .container {
    /* max-width: 500px; */
  }
  

}

/*@media (max-width:1200px){*/

/*  html{*/
/*    font-size: 55%;*/
/*  }*/

/*}*/

/*@media (max-width:991px){*/

/*  header{*/
/*    padding:2rem;*/
/*  }*/

/*  section{*/
/*    padding:2rem;*/
/*  }*/

/*}*/

/*@media (max-width:768px){*/

/*  #menu-bar{*/
/*    display: initial;*/
/*  }*/

/*  header .navbar{*/
/*    position: absolute;*/
/*    top:100%; right:0; left: 0;*/
/*    background: #333;*/
/*    border-top: .1rem solid rgba(255,255,255,.2);*/
/*    padding:1rem 2rem;*/
/*    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);*/
/*  }*/

/*  header .navbar.active{*/
/*    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);*/
/*  }*/

/*  header .navbar a{*/
/*    display: block;*/
/*    border-radius: .5rem;*/
/*    padding:1.5rem;*/
/*    margin:1.5rem 0;*/
/*    background:#222;*/
/*  }*/

/*}*/

/*@media (max-width:450px){*/

/*  html{*/
/*    font-size: 50%;*/
/*  }*/

/*  .heading span{*/
/*    font-size: 2.5rem;*/
/*  }*/

/*  .contact .row form .inputBox input{*/
/*    width:100%;*/
/*  }*/

/*}*/
