/* INTRO PAGE */

:root {
    --main: #3c2a21;
    --second: #3c2a21;
    --third: #d5cea3;
    --hover: #3d3b3a;
    --bbc: #E5BA73;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-inner {
    position: relative;
}
.hero {
    background-image: linear-gradient(
        rgba(47, 44, 44, 0.6),
        rgba(31, 29, 29, 0.6)
      ),
      url("../img/bagan1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero .hero-header {
    color: #fff;
    font-size: 6em;
    font-weight: 700;
    letter-spacing: 0.25;
  }

  /* BUTTON */

  .btn {
    display: inline-block;
    
    padding: 10px 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #fff;
    text-decoration: none;
    background: var(--bbc);
    margin-top: 20px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }
  
  .hero-header {
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
  }
  .btn:hover {
    background: var(--main);
  }