

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
   display: flex;
    background: #333;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2400px;
    flex-wrap: wrap;
   
}

.container .card{
    display: flex;
    top: -50px;
    position: relative;
    width: 250px;
    height: 190px;
    background: #333;
    transition: 0.4s;
}

.card:hover{
    height: 300px;
}

.card-active.card {
    height: 300px; 
}

.card-active .imgBx {
    border-radius: 10px;
}
.card .line{
    position: absolute;
    inset: 0;
    margin: 30px;
    background: rgb(231, 135, 8);
    overflow: hidden;
}
.card .line::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    /* transform: translate(-50%,-50%); */
    background: linear-gradient(transparent ,#45f3ff,
    #45f3ff,#45f3ff,transparent);
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
      }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
        }
}
.card .line::after{
    content: '';
    inset: 3px;
    background: #f9eff9;;
    position: absolute;
}
.card .imgBx{
       /* border-radius: 100px; */
        position: absolute;
        top: -20px;
        left: 50%;
        width: 90px;
        height: 90px;
        transform: translateX(-50%);
        background: rgb(44, 44, 44);
        transition: 0.4s;
        z-index: 10;
        overflow: hidden;
}
.card:hover .imgBx{
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.card .imgBx::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    background: linear-gradient(transparent , #0595e9,
    #f31616, #be0a10,transparent);
    animation: animate2 6s linear infinite;
}
@keyframes animate2 {
    0%{
        transform: translate(-50%,-50%) rotate(360deg);
      }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
        }
}
.card .imgBx::after{
    content: '';
    inset: 3px;
    background: #292029;;
    position: absolute;
   
}
.card .imgBx img{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    /* filter: grayscale(1); */
}
/* ----content */
.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   overflow: hidden;
   bottom: 40px;

}
.card .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.4s;
    transform: translateY(140px);
}

.card .content .details .oggy{
    color: #45f3ff;
}

.card .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    color: rgb(81, 165, 238);
}

