@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  /* --main: #464545; */
  --main: #303841;
  /* --main: #CDBBA7; */
  /* --background: ; */
  --second: #3c2a21;
  --third: #d5cea3;
  --hover: rgba(255, 165, 0, 0.2);

  /* --bbc:  #a03623;  */
  /* --bbc: #E5BA73; */
  --bbc: #c74b04;
}

body {
  background: #fff;
}

/*------------------------------- Header ------------------------------------- */

header {
  border: none;
  background-color: var(--main);
  /* color: transparent; */
  padding: 10px;

  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
}

.nav-header {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  /* justify-content:center; */
}
.bagan-img {
  width: 50px;
  /* transform: translateY(-10%); */
}

.nav-header-active {
  color: var(--bbc);
}
/*------------------------------- Navigation --------------------------------*/

header .navigation {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-between;
}

.nav-header {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.navigation .nav-data {
  display: flex;
  align-items: center;
  /* space evenly */
  justify-content: space-evenly;
  gap: 30px;
  list-style: none;
  margin-bottom: 0;
}
.active {
  color: var(--bbc) !important;
  /* border-bottom: 5px solid var(--bbc); */
}
.active a {
  color: var(--bbc) !important;
}

.nav-data li:hover {
  color: var(--bbc) !important;
  /* background-color: var(--hover); */
  /* padding: 6px 12px; */
  /* border-bottom: 5px solid var(--bbc); */
}

.nav-data a:hover {
  color: var(--bbc) !important;
}

.nav-data li {
  transition: all 0.5s;
  color: #fff;
  padding-bottom: 5px;
}
.nav-data li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.5s;
  margin-left: 8px;
}

.nav-buttons .btn {
  border: none;
  text-decoration: none;
  color: #fff;
  margin-left: 18px;
  font-size: 20px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--main);
  transition: all 0.5s ease-in-out;
}

.nav-buttons .btn:hover {
  background-color: var(--bbc);
}
.nav-buttons .btn span {
  margin-left: 8px;
}
.nav-icon {
  display: none;
}

/* DROP DOWN */
.drop-down {
  position: relative;
}
#span {
  padding: 12px 24px;
  background: var(--main);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
  letter-spacing: 1px;
  font-weight: 700;
  /* border-radius: 8px; */
}

#span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  padding: 0 8px;
  /* padding: 12px 24px; */
  clear: both;
  width: 100%;
  height: 0;
  overflow: hidden;
  /* letter-spacing: 1px; */
  /* text-align: center; */
  transition: height 0.4s ease;

  position: absolute;
  z-index: 10000;
  background-color: var(--main);

  display: flex;
  align-items: center;
  gap: 20px;
  /* justify-content: space-between; */
  flex-direction: column;
  list-style: none;
}

.slide li {
  background-color: var(--main);
  color: #fff;
  width: 100%;
  padding: 6px 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s;
  border-radius: 10px;
}

/* .slide li:hover {
  background: var(--bbc);
} */
.slide li:first-child {
  margin-top: 10px;
}
.slide li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.5s;
  margin-left: 8px;
}
#touch {
  position: absolute;
  opacity: 0;
  height: 0;
}

#touch:checked + .slide {
  height: 220px;
}

/* -----------------------------MODAL ---------------------------------------- */

.modal {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main);
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 1000;
  opacity: 0.9;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.5s;
  /* opacity: 0.4; */
}

.modal .modal-close {
  position: absolute;
  top: 0;
  right: 2%;
  color: var(--main);
  font-size: 50px;
  font-weight: 700;
}

.modal-nav-data {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal-nav-data li a {
  text-decoration: none;
  color: #fff !important;
  font-size: 22px;
  transition: all 0.5s;
  font-weight: 700;
}

.modal-nav-data li a:hover {
  color: var(--bbc);
  border-bottom: 5px solid var(--bbc);
}

.active {
  right: 0;
}

/*---------------------------- HERO ------------------------------------------ */

.home {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
  /* margin-bottom: 30px; */
}

.home .content {
  text-align: center;
}

.home .content h3 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  font-size: 20px;
  color: #fff;
  padding: 0.5rem 0;
}

.home .video-container video {
  /*video img*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home .controls {
  padding: 5px;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  position: relative;
  bottom: 0;
  top: 50px;
}

.home .controls .vid-btn {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0 0.5rem;
}

.home .controls .vid-btn.active {
  background: var(--bbc);
}

.home-btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  margin-top: 30px;
  border: 1px solid var(--bbc);
  background-color: var(--bbc);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.home-btn:hover {
  background: rgba(255, 165, 0, 0.2);
}
/* ----------------------------- RESOURCES ------------------------------------- */

.resources-header {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

.resources-header-active {
  color: var(--bbc);
}

.place,
.hotel,
.food,
.memo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.sub-header {
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.contents {
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 20px;
}
.icon {
  /* width: 300px; */
  color: #c74b04;
  font-size: 50px;
}

.cards {
  padding: 20px;
  width: 230px;
  background: #ddd;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  transition: all 0.5s;
}

.place:hover,
.hotel:hover,
.food:hover,
.memo:hover {
  transform: translate(0px, -15px) !important;
}

.resources-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  /* background-color: #c74b04; */
  padding: 10px;
  max-width: 90%;
}

/* ------------------------ DIV ---------------------------- */
.container-helper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.div--1 {
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;

  background: #ddd;
  padding: 50px 0;
  width: 98%;
  height: 600px;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;

  gap: 30px;
  /* clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%); */
  /* clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%); */
  /* clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%); */
  /* clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%); */
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.div--3 {
  padding: 50px;
  width: 98%;
  height: 900px;
  margin-top: -20vh;
  /* border-radius: 10px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  background: #ddd;
  background-size: cover;
  background-position: 60%;
  /* clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%); */
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
}

.div--2 {
  width: 98%;
  /* background: red; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(16, 15, 15, 0.6)),
    url("../img/bagan2.jpg");
  background-size: cover;
  transition: all 1s;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  overflow: hidden;

  margin: 0 auto;
  height: 800px;
  margin-top: -20vh;
  margin-bottom: -20vh;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blanchedalmond;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.active--height {
  margin: 0 auto;
  height: 800px;
  margin-top: -20vh;
  margin-bottom: -20vh;
}

.btn-after {
  top: 3%;
}

/*------------------------------CARD------------------------------------------*/
.card {
  width: 200px;
  height: 300px;
  perspective: 500px;
  /* margin-bottom: 100px; */
  border: none;
}

.flip-content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  transition: all 1s;
  transform-style: preserve-3d;
}

.card:hover .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 300px;
  color: #03446a;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front {
  background: url("../img/bagan2.jpg");
  background-size: cover;
}
.back {
  background: #03446a;
  color: white;
  transform: rotateY(180deg);
}

.card-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.div--2 .btn {
  display: block;
  padding: 12px 24px;
  background-color: #1a0000;
}

.div--2-sub-class {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 100px;
}

/* -------------------GAllERY ------------------ */
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.box {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 9px solid #fff;
}
.box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.box .content {
  position: absolute;
  color: #fff;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  padding-top: 5rem;
  transition: all 0.5s;
}

.box:hover .content {
  top: 0;
}

.gallery .resources-header {
  margin-top: 300px;
}

.box-container-btn {
  padding: 6px 12px;
  background: #c74b04;
  margin-bottom: 200px;
}

/* .gallery .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .box-container .box {
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1rem solid #fff;
  border-radius: 0.5rem;
  flex: 1 1 30rem;
  height: 25rem;
  position: relative;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  padding-top: 5rem;
}

.gallery .box-container .box:hover .content {
  top: 0;
}

.gallery .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--orange);
}

.gallery .box-container .box .content p {
  font-size: 1.5rem;
  color: #eee;
  padding: 0.5rem 0;
}

.heading .pagoda h1 {
  color: coral;

  height: 100%;
  width: 100%;
  font-style: italic;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */

/* -------------------REVIEW ------------------- */
.review {
  margin-bottom: 10px !important;
  background: #ddd;
  padding: 30px;
  border-top: 5px solid #f4f4f4;
  background-color: cyan;

}

/* .reviewInner{
  background-color: #03446a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
} */

.review-card {
  display: flex;
  background: #333;
  min-height: 50vh;
}

.review-card {
  display: flex;
  position: relative;
  width: 250px;
  height: 190px;
  background: #333;
  transition: 0.4s;
}

.review-card .imgBx {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 90px;
  height: 90px;
  transform: translateX(-50%);
  background: rgb(44, 44, 44);
  transition: 0.4s;
  z-index: 10;
  overflow: hidden;
}

.review-card:hover .imgBx {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.review-card .imgBx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  background: linear-gradient(
    transparent,
    #0595e9,
    #f31616,
    #be0a10,
    transparent
  );
  animation: animate2 6s linear infinite;
}

.review-card .imgBx::after {
  content: "";
  inset: 3px;
  background: #292029;
  position: absolute;
}

.review-card .imgBx img {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: calc(100% - 10px);
  height: calc(100% - 10px);

}

.review-card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  bottom: 40px;
}

.review-card .content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.4s;
  transform: translateY(140px);
}

.review-card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: rgb(81, 165, 238);
}

@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

