
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
.location {
  max-width: 800px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
}

.card {
  width: 400px;
  height: 500px;
  border-radius: 1px solid black;
  margin: 0 auto;
  position: relative;
  
  perspective: 1000px;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  display: inline-block;
}

.card .before {
  width: 100%;
  height: 100%;

  background: aqua;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.card .after {
  width: 100%;
  height: 100%;
  background: pink;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  transform: rotateX(0deg);
  z-index: 2;
}

.after:hover {
  transform: rotateY(180deg);
}

.before:hover {
  transform: rotateY(180deg);
} */

/* CARD STYLING */

/* .container {
  width: 397px;
  height: 640px;
  margin: 0 auto;

  perspective: 1000px;
}
 .container:hover .card {
  transform: rotateY(-180deg);
}

.card {
  width: 100%;
  height: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card_front {
  width: 100%;
  height: 100%;
  position: relative;

  background-color: aqua;

  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;
  transform: rotateY(0deg);
}

.card_back {
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);

  background-color: pink;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
} */

/* FLIP CARD STYLING */

.container{
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

